<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capstone Project</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header class="Header">
      <div class="imageContainer">
        <img
          src="https://static-blog.siteground.com/wp-content/uploads/sites/4/2022/02/what-is-a-blog-1200x600-1.jpeg"
          alt="blog-header-image"
        />
      </div>
    </header>
  </body>
</html>
