<%- include("partials/header.ejs") %>

<main>
  <div class="gridContainer">
    <div class="routes">
      <h2 class="routesTitle">Entradas de blog</h2>
      <a href="/" class="route">Home</a>
      <a href="/" class="route">Home</a>
      <a href="/" class="route">Home</a>
      <a href="/" class="route">Home</a>
      <a href="/" class="route">Home</a>
    </div>
    <div class="content">
      <h1 class="titulos">Hola soy la pagina principal</h1>
      <div class="parrafos">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa nam
          atque similique sit provident aliquam libero, neque praesentium unde
          non, distinctio exercitationem voluptates minus ab eius. Impedit sint
          consequatur recusandae nemo quod repellendus aperiam ex, alias
          excepturi, quia dolorum consequuntur voluptate vitae temporibus neque,
          quasi ea? Impedit animi suscipit quasi!
        </p>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>
